<h1 class="is-size-3 has-text-centered py-6">Search Results</h1>

<% if flights.count > 0 %>
  <%= flights.count %> result(s) found!

  <br>

  <%= form_with url: new_booking_path, method: :get do |form| %>
    <% flights.each do |flight| %>
      <div class="control">
        <%= form.radio_button :flight_id, flight.id, id: dom_id(flight), required: true %>
        <%= form.label dom_id(flight), flight_summary(flight), class: 'radio'  %>
      </div>
    <% end %>

    <%= form.hidden_field :passenger_count, value: params[:passenger_count] %>
    <%= form.submit 'Book Flight', class: 'button', id: 'book-button' %>
  <% end %>
<% else %>
  No results.
<% end %>