<h1 class="is-size-3 has-text-centered py-6">Search Results</h1>

<% if flights.count > 0 %>
  <%= flights.count %> result(s) found!

  <br>

  <%= form_with url: new_booking_path, method: :get do |form| %>
    <% flights.each do |flight| %>


      <div class="control">
        <%= form.radio_button :flight, flight.id, required: true %>
        <%= form.label :flight, summary(flight), class: 'radio' %>
        

        <% if false %>
          <%= summary(flight) %>  
        <% end %>
        
      </div>

      
    <% end %>
    <%= form.submit 'Book Flight', class: 'button', id: 'book-button' %>
  <% end %>
<% else %>
  No results.
<% end %>