<h1 class="is-size-3 has-text-centered pt-5 pb-4">Search Results</h1>

<% if flights.count > 0 %>
  <p class="has-text-centered pb-4">
    <%= flights.count %> flight(s) found
  </p>

  <%= form_with url: new_booking_path, method: :get do |form| %>
    <% flights.each do |flight| %>
      <div class="columns is-centered is-vcentered is-mobile">
        <div class="column has-text-centered is-narrow">
          <%= form.radio_button :flight_id, flight.id, id: dom_id(flight), required: true, class: 'px-2' %>
        </div>
        <div class="column is-one-third-widescreen is-half-desktop is-half-tablet is-three-quarters-mobile">
          <%= form.label dom_id(flight), (render partial: "summary", locals: { flight: flight })%>
        </div>
      </div>
    <% end %>

    <%= form.hidden_field :passenger_count, value: params[:passenger_count] %>
    <div class="has-text-centered">
      <%= form.submit 'Book Flight', class: 'button', id: 'book-button' %>
    </div>
  <% end %>
  
<% else %>
  No results.
<% end %>