<h1 class="is-size-3 has-text-centered py-6">Search Results</h1>

<% if flights.count > 0 %>
  <%= flights.count %> result(s) found!

  <% flights.each do |flight| %>
    <br>
    <%= flight.departure_airport.code %> <%= display_datetime(flight.local_departure_time) %> 
    -> <%= flight.arrival_airport.code %> <%= display_datetime(flight.local_arrival_time) %> (<%= flight.duration %> minutes).
  <% end %>
<% else %>
  No results.
<% end %>