<section>
  <h1 class="is-size-2 has-text-centered py-4">Booking Details</h1>

  <div class="container">
    <div class="columns is-centered">
      <%= display_departure_date(@booking.flight.local_departure_time) %>   
    </div>

    <div class="columns is-centered">
      <%= render partial: 'flights/summary', locals: { flight: @booking.flight } %>   
    </div>

    <p class="is-size-4 has-text-weight-bold has-text-centered pt-4">Confirmation Code:</p>
    <p class="is-size-4 has-text-centered"><%= @booking.confirmation_code %></p>

    <p class="is-size-4 has-text-weight-bold has-text-centered pt-4">Booked By:</p>
    <p class="is-size-4 has-text-centered"><%= @booking.name %> (<%= @booking.email %>)</p>

    <p class="is-size-4 has-text-weight-bold has-text-centered pt-4">Passengers:</p>
    <% @booking.passengers.each do |passenger| %>
        <p class="is-size-4 has-text-centered"><%= passenger.name %> (<%= passenger.email %>)</p>
    <% end %>
  </div>
</section>